

<h3> Food for the Soul </h3>
<div class="quote-container">
    <p id="quote">
        “If you really want to make a friend, go to someone’s house and eat with him… The people who give you their food give you their heart.”
        <strong>Cesar Chavez</strong>
    </p>
    
        <%= image_tag "quote photo.jpeg" , class:'quote-image'%>
    
</div>
<br>

<div class="youtube-frame">
    <p class="youtube-title"> Get Ready for Spring</p>
    <iframe class="youtube" width="560" height="315" src="https://www.youtube-nocookie.com/embed/njCyoWFNybU?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>




<div>
    <% @categories.all.each do |category| %>
        <div class="category">
            <h3>
                <%= link_to category_path(category.id) do %>
                    <%= category.name %>
                <% end %> 
            </h3>
            
            <div class="category-container">
            <% category.dishes.each do |dish|%>
                <div>
                    <%= link_to dish_path(dish.id) do %>
                        <%= image_tag dish.image, class: "category_thumbnail" %>
                        <%= dish.name %>
                    <% end %> 
                </div> 
            <% end %> 
            </div> 
        </div> 
        

    <% end %>

</div>

<!--
categories = [
    🐺_category, 🐤_category, 🐣_category
]
🐺_category = {
    name: 🐺
    dishes: [
        {
            name: "piggy banana",
            id: 787,
            image: /image/chiuck,
            user: {
                name: "bob",
                image: /bobby,
                id: 65
            },

        },
        {
            name: "piggy peach",
            image: /image/chiuck
        },
        {
            name: "piggy yuzu",
            image: /image/chiuck
        },
    ]
}

🐤_category = {
    name: 🐺
    dishes: [
        {
            name: "chicken banana",
            image: /image/chiuck
        },
        {
            name: "chicken peach",
            image: /image/chiuck
        },
        {
            name: "chicken yuzu",
            image: /image/chiuck
        },
    ]
}
-->