


<h3>
<em><%= @dish.name %> </em>

</h3>

<%# TO DO: edit show page - for the user only%>
<%= link_to 'Edit Recipe', edit_dish_path(@dish) %>


<%# TO DO: delete show page - for the user only%>
<%= link_to 'Remove Recipe', dish_path(@dish), method: 'delete' %>

<%= link_to 'Back to home', dishes_path %>


<%#Link to user profile %>
<div class = "profile">
    Recipe shared by <%= link_to @dish.user.name, user_path(@dish.user.id) %>

    <%#TO DO: show user's picture %>

</div>
   


<div class="recipe">
    <p>
    <%= image_tag @dish.image, alt:@dish_name, class:'artwork' %>
    </p>
    
    <p>
    Name: 
    <%= @dish.name %>
    </p>
    
    <p>
    Servings: 
    <%= @dish.servings %>
    </p>
    
    <p>
    Cooking duration: 
    <%= @dish.cooking_time %>
    </p>
    
    <p>
    Ingredients: 
    <%= @dish.ingredients %>
    </p>
    
    <p>
    Method: 
    <%= @dish.methods %>
    </p>


</div>

<div> 
  <div>
    <p>Comments</p>
    <%= form_with(model: [@dish, @dish.comments.build]) do |f| %>
      <div>
        <%= f.label 'New comment' %>
        <%= f.text_area :review %>
      </div>
      <%= f.submit 'Submit' %>
    <%= render @dish.comments %>
    <% end %>
  </div>
</div>
