


<h3>
<em><%= @dish.name %> </em>
</h3>

<%# TO DO: edit show page - for the user only%>
<%= link_to 'Edit Recipe', edit_dish_path(@dish) %>


<%# TO DO: delete show page - for the user only%>
<%= link_to 'Remove Recipe', dish_path(@dish), method: 'delete' %>

<%= link_to 'Back to home', dishes_path %>


<%#Link to user profile %>
<div class = "profile">
    Recipe shared by <%= link_to @dish.user.name, user_path(@dish.user.id) %>

    <%#TO DO: show user's picture %>

</div>
   


<div class="recipe">
    <p>
    <%= image_tag @dish.image, alt:@dish_name, class:'artwork' %>
    </p>
    
    <p>
    Name: 
    <%= @dish.name %>
    </p>
    
    <p>
    Servings: 
    <%= @dish.servings %>
    </p>
    
    <p>
    Cooking duration: 
    <%= @dish.cooking_time %>
    </p>
    
    <p>
    Ingredients: 
    <%= @dish.ingredients %>
    </p>
    
    <p>
    Method: 
    <%= @dish.methods %>
    </p>


</div>
    <p> Categories:
        <ul>
            <% @dish.categories.each do |category| %>
                <li>
                    <%= link_to category_path(category.id) do %>
                    <%= category.name %>
                    <br>
                    <% end  %>
                </li>
            <% end  %>
        </ul>
    </p>
<div> 

<!--Comments section -->
  <div>
    
    <p>Comments</p>
    <%= form_with model: @comment, local: true do |f| %>
        <div>
            <%= f.label 'New comment' %>
            <%= f.text_area :review %>
        </div>
        <%= f.hidden_field :dish_id, value: @dish.id %>
        <% if @current_user != nil %>
        <%= f.hidden_field :user_id, value: @current_user.id %>
        <% end %>
        <%= f.submit 'Submit' %>
    <% end %>
  </div>

 
  <ul>
    <%  @dish_comments.each do |comment| %>
        <div>
        <em>Last updated <%= time_ago_in_words(comment.updated_at) %> ago</em>
        <div>
     <% if comment.user_id == nil  %>
        <li>
            <div>
                <em>Anonymous</em>
                <%= image_tag("https://www.booksie.com/files/profiles/22/mr-anonymous_230x230.png", class: "user-thumbnail")%>
            </div> 
            <div>
                <%= comment[:review]%>
            </div>
        </li>
         <% else %>
        <li>
            <div>
                <%= image_tag comment.user.image , class:"user-thumbnail"%>
                <em><%=comment.user.name%></em>
            </div>
            <div> 
                <%= comment[:review]%>
            </div>
        </li>
        <%  end %>
    <% end %>
  </ul>
</div>


<!--
Comments = [Comment 1, Comment 2,...]

Comment = {
    id
    review: ""
    dish :{
        name:
        servings:
        category:{}
    }
    user:{
        id
        name
        image
        password
    }

}



}
-->