


<h3>
    <%= @dish.name %> 
</h3>

<%# TO DO: edit show page - for the user only%>
<%= link_to 'Edit Recipe', edit_dish_path(@dish) %>


<%# TO DO: delete show page - for the user only%>
<%= link_to 'Remove Recipe', dish_path(@dish), method: 'delete' %>

<%= link_to 'Back to home', dishes_path %>


<%#Link to user profile %>
<div class = "profile">
    Recipe shared by 
    <br>
    <div>
    <%= image_tag @dish.user.image , class: "user-thumbnail"%>
    <%= link_to @dish.user.name, user_path(@dish.user.id) %>
    </div>
    <%#TO DO: show user's picture %>
</div>
<br><br>

<div>
    <div>
    <p> Love it? </p>
    <p> Add this recipe to your recipe book!</p>
    </div>
    <% if @current_user.present?%> <!--check if user is logged in -->
        <!-- need 'if condition' to let the code knows how we want the hash,flash[] temporary prints out the string . need to create <div> to customise this temporary text
         -->
        <% if flash[:error] %>
            <div class="error-message">
                <%= flash[:error] %>
                <br>
            </div>
        <% end %>

        <% if flash[:success] %>
            <div class="success-message">
                <%= flash[:success] %>
                <br>
            </div>
        <% end %>
        <!-- 
        We can also use the 'form_with' helper for generic forms that do NOT work with a model; to do this we use -->
        <%= form_with url: recipebook_add_dish_path(@dish.id), local: true do |f| %>

            <%= collection_select :recipebook, :id, @current_user.recipebooks.order(:created_at), :id, :name %>
        <%= f.submit 'Save it' %>
        <% end %>

    <% end %>
        
</div>


<div class="recipe">
    <p>
    <%= image_tag @dish.image, alt:@dish_name, class:'artwork' %>
    </p>
    
    <h5> Name: </h5>
    <p>
    <%= @dish.name %>
    </p>

    <h5>Servings: </h5>
    <p>
    <%= @dish.servings %>
    </p>
    
    <h5>Cooking duration: </h5>
    <p>
    <%= @dish.cooking_time %>
    </p>
    
    <h5>
    Ingredients: 
    </h5>
    <ul>
        <% @dish.ingredients.split("\n").each do |paragraph| %>
            <li>
                <%= paragraph %>
            </li>
    <% end %>
    </ul>

    <h5>Method:</h5>
    <% @dish.methods.split("\n").each do |paragraph| %>
        <p>
            <%= paragraph %>
        </p>
    <% end %>


</div>
    <p> Categories:
        <ul>
            <% @dish.categories.each do |category| %>
                <li>
                    <%= link_to category_path(category.id) do %>
                    <%= category.name %>
                    <br>
                    <% end %>
                </li>
            <% end %>
        </ul>
    </p>
<div> 

<!--Comments section ------------------------------------------------------>
  <div>
    
    <p>Comments</p>
    <%= form_with model: @comment, local: true do |f| %>
        <div>
            <%= f.label 'New comment' %>
            <%= f.text_area :review %>
        </div>
        <%= f.hidden_field :dish_id, value: @dish.id %>
        <% if @current_user != nil %>
        <%= f.hidden_field :user_id, value: @current_user.id %>
        <% end %>
        <%= f.submit 'Submit' %>
    <% end %>
  </div>

  
 
  <ul>
    <%  @dish_comments.each do |comment| %>
        <div>
        <em>Last updated <%= time_ago_in_words(comment.updated_at) %> ago</em>
        <div>
     <% if comment.user_id == nil  %>
        <li>
            <div>
                <em>Anonymous</em>
                <%= image_tag("https://www.booksie.com/files/profiles/22/mr-anonymous_230x230.png", class: "user-thumbnail")%>
            </div> 
            <div>
                <%= comment[:review]%>
            </div>
        </li>
         <% else %>
        <li>
            <div>
                <%= image_tag comment.user.image , class:"user-thumbnail"%>
                <em><%=comment.user.name%></em>
            </div>
            <div> 
                <%= comment[:review]%>
            </div>
        </li>
        <%  end %>
    <% end %>
  </ul>
</div>

<!--categories has many dishes and vice versa. using .sample to randomly pick the categories from this dish 
-->
<div>
    <div>
        <p> You May Also Like: 
            <ul>
                <% @dish.categories.sample.dishes.each do |dish| %>
                    <li>
                        <div>
                        <%= link_to dish_path(dish) do %>
                        <%= image_tag dish.image, class: "dish_thumbnail", alt: dish.name %> 
                        <%= dish.name %>
                        </div>
                        <br>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </p>
    </div> 
</div>




<!--  comments model structure 
Comments = [Comment 1, Comment 2,...]

Comment = {
    id
    review: ""
    dish :{
        name:
        servings:
        category:[]
    }
    user:{
        id
        name
        image
        password
    }

}



}

dish = {
    name: superpie
    image: /pie.jpg
    categories: [chicken, beef, egg]
}
-->