
<!--to display warnings is there's error inserted into the form-->
<% if @recipebook.errors.any? %>
  <strong>Please correct the following:</strong>
  <ul>
    <% @recipebook.errors.full_messages.each do |e| %>
      <li><%= e %></li>
    <% end %>
  </ul>
<% end %>

<!--html: {multipart:true}  asks coding to accept this html 
this form can upload binarary file -->
<%= form_with model: @recipebook, local: true, html: {multipart:true} do |f| %>



<%= f.label :name %>
<br>
<%= f.text_field :name %>
<br><br>

<%= f.label :image %>
<br>
<%= f.file_field :image %>
<br><br>

<%= f.submit %>

<% end %>