
<h3>All Recipe Books</h3>
<h4>Get inspired from the community! </h4>



<p>
Current collections: <%= pluralize(@recipebooks.length, 'recipe books') %>
</p>

<div class='all-books'>
    <ul>
        <% @recipebooks.each do |recipebook| %>
            <li>
                <div class='a-book'>
                    <h3>
                        <%= link_to recipebook.name, recipebook_path(recipebook) %>
                        (<%= link_to recipebook.user.name, user_path(recipebook.user) %>)
                    </h3>
                    <% recipebook.dishes.each do |dish| %>
                        <%= link_to dish_path(dish.id) do %>
                            <%= image_tag dish.image, class: "dish-thumbnail" %>
                        <% end %> 
                    <% end %>
                </div>
            </li>
        <% end %>
    </ul>
</div>

