<div class="recipebook-container">
    <h3 class="recipebook-name"> Recipebook <%= @recipebook.name %></h3>
    <!-- if image is not there, still run-->
    <!-- safe is from breaking-->
    <!--cant use @cl_image_tag here as need to make it a background image from div, hence cl link was pasted--->
    <% if @recipebook.image.present? %>
        <div class="recipebook-cover-image" style="background-image: url(http://res.cloudinary.com/dwmvmdhlu/image/upload/<%=@recipebook.image%>);">
        </div>
    <% end %>
</div> 

<p>
<em>
    Last updated <%= time_ago_in_words(@recipebook.updated_at) %> ago
    </em>
</p>

<% if @current_user.present? && @current_user.id == @recipebook.user_id %>
    <%= link_to 'Edit', edit_recipebook_path(@recipebook) %>
    |
    <%= link_to 'Delete', recipebook_path(@recipebook), method: 'delete' %>
<% end %>
<br>

<!--recipebooks has many recipe books
    need to loop through recipebooks to get each dishes
-->

<div class="all-dishes-in-recipebook">
    <% @recipebook.dishes.each do |dish|%>
        <div class="each-dish-in-recipebook">
            <%= link_to dish_path(dish.id) do %>
                <%= image_tag dish.image, class:"recipebook_thumbnail"%>
            <% end %>
                <!--Only user of the recipebook can delete the dish from recipebook-->
                <% if @current_user.present? && @current_user.id == @recipebook.user_id %>
                    <!-- passsing recipebook id in order to find recipe book id-->
                    <%= link_to 'Remove', recipebook_remove_dish_path(dish_id: dish.id, recipebook_id: @recipebook.id), method: 'delete' %>
                <% end %>
            <h5> <%= dish.name %> </h5>
        </div>
    <% end %>
</div> 

<!--
recipebook={
    name: 
    image:
    user_id={}
    dishes = [
        {dish}{dish}{dish}
    ]

}

-->


 
        


