<h3> Recipebook <%= @recipebook.name %></h3>

<p>
<em>
    Last updated <%= time_ago_in_words(@recipebook.updated_at) %> ago
    </em>

</p>

<% if @current_user.present? && @current_user.id == @recipebook.user_id %>
    <%= link_to 'Edit', edit_recipebook_path(@recipebook) %>
<% end %>
<br>
<!-- if image is not there, still run-->
<!-- safe is from breaking-->
<% if @recipebook.image.present? %>
    <%= image_tag @recipebook.image, alt: @recipebook.name , class:"recipebook_thumbnail"%>
<% end %>
  

<!--recipebooks has many recipe books
    need to loop through recipebooks to get each dishes
-->
<ul>
    <div>
        <li>
            <% @recipebook.dishes.each do |dish|%>
                <div><%= link_to dish_path(dish.id) do %>
                    <%= image_tag dish.image, class:"recipebook_thumbnail"%>
                    <% end %>
                <div> <%= dish.name %></div>
                </div>
            <% end %>
        </li>
    </div> 
<ul>
<!--
recipebook={
    name: 
    image:
    user_id={}
    dishes = [
        {dish}{dish}{dish}
    ]

}

-->


 
        


