<h3> Recipebook <%= @recipebook.name %></h3>

<p>
    <em>
    Last updated <%= time_ago_in_words(@recipebook.updated_at) %> ago
  </em>

</p>

<% if @current_user.present? && @current_user.id == @recipebook.user_id %>
    <%= link_to 'Edit', edit_recipebook_path(@recipebook) %>
<% end %>
<br>
<!-- if image is not there, still run-->
<!-- safe is from breaking-->
<% if @recipebook.image.present? %>
    <%= image_tag @recipebook.image, alt: @recipebook.name , class:"recipebook_thumbnail"%>
<% end %>
  
<p>
    Here are your collection of dishes 🍽
</p>

<!--recipebooks has many recipe books
    need to loop through recipebooks to get each dishes
-->
<div>
    <% @current_user.recipebooks.each do |book| %>
        <h2><%= book.name  %> </h2>
            <% book.dishes.each do |dish| %>
                <%= link_to dish_path(dish.id) do %>
                <%= image_tag dish.image, class: "dish_thumbnail" %>
        
            <% end %> 
        <% end %>
    <% end %> 
</div> 




 
        


