<!DOCTYPE html>
<html>
  <head>
    <title>Bon appetit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
      
    
    <nav>
      <div>
        <h1>Bon Appétit</h1>
        <br>
        <%= link_to 'Home', root_path %>
        <br>
        <%= link_to 'Recipe Books', recipebooks_path %>
        |
        <%= link_to 'Create a Recipe Book', new_recipebook_path %>
    
      </div>


      <div>
        <% if @current_user.present?%>
          Welcome back, <%= @current_user.name %>!
          <br>
          <%= link_to 'Logout', login_path, method: 'delete' %>

        <% else %>

        <%= link_to 'Login', login_path %>
        
        <%= link_to 'Sign Up', new_user_path %>

      <% end %>

    </nav>
    <%= yield %>
    <br>
  <footer>
    &copy; Your Friendly Community 2022
  </footer>

  </body>
</html>
